body{
    font-family: Arial;
    background-color: rgb(25,25,25);
    color: white;
}

.title{
    font-size: 30px;
    font-weight: bold;
}
.move{
    height:50px;
}
.move-btn{
    background-color: transparent;
    border: 2px white solid;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin: 20px;
}
.result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}
.score{
    margin-top: 50px;
}
.reset{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}