body{
    font-family: Arial;
}

.todo-grid, .todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.name-input, .date-input{
    font-size: 15px;
    padding: 6px;
}

.add-btn, .delete-btn{
    cursor: pointer;
    color: white;
    background-color: green;
    font-size: 15px;
    border: none;
    padding: 10px;
}

.delete-btn{
    background-color: rgb(120, 10, 10);
}